---
development: &default
  adapter: postgresql
  encoding: unicode
  database: isosceles_development
  pool: 5
  username: postgres
  host: localhost
  port: 5432

staging:
  <<: *default
  database: isosceles_staging

production:
  <<: *default
  database: isosceles_prod

test:
  <<: *default
  database: isosceles_test
